{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
  @page {
    size: A4 landscape;
    /* Puedes ajustar el tamaño según tus necesidades */
  }



  .pdf-titulo {
    padding-top: 120px;
    color: #007BFF;
    text-align: center;
    font-size: 24px;
  }

  .logo1 {
    padding-top: 20px;
    padding-left: 150px;
  }

  .logo2 {
    padding-left: 50px;
  }

  .pdf-text {
    color: rgb(15, 15, 15);
    text-align: center;
    font-size: 24px;
  }
</style>

<table class="table">
  <tbody>
    <tr>
      <td>
        <div class="logo1"><img src="" height="250px" width="250px"></div>
      </td>
      <td>
        <h1 class="pdf-titulo">CERTIFICADO</h1>
      </td>
      <td>
        <div class="logo2"><img src="" height="170px" width="170px"></div>
      </td>
    </tr>
  </tbody>
</table>
<div class="pdf-text">
  <p>Nombres y Apellidos: {{persona.nombres}}, {{persona.apellidos}} </p>

  <p>Curso: {{persona.curso}} </p>

  <p>N°: {{persona.n_certificado}} </p>

  <p>Fecha: {{persona.fecha_emision}} </p>
  <!-- Mostrar el código QR -->
  <img src="{{ qr_code }}" alt="Código QR" style="width: 150px; height: 150px;">
</div>

{% endblock %}